* {
  box-sizing: border-box;
}

:root {
  --yellow: #f2c300;
  --red: #df0000;
  --blue: #0099f6;
  --dark-blue: #114463;
}

.listBox {
  padding-top: 5vh;
}

.listBox > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.characterBox {
  list-style: none;
}

.loading-message {
  margin-top: 50vh;
}
