.searchBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
display: flex;
flex-direction: column;
width: 10em;
}

.input {
  margin: 10em 0 2em 0;
  border-radius: 5px;
  
}

.listBox {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.characterBox {
  list-style: none;
}

.loadingMessage {
  margin-top: 50vh;
}
